/* @Hasti 'Meet The Team' section start */

a {
  text-decoration: none;
}

.team {
  padding: 50px;
  width: 100%;
  margin: 0 auto;
  font-family: 'DM Sans';
  color: white;
}

.team-heading {
  display:inline;
  position:relative;
  right: 400px;
  bottom: 20px;
  font-size: 85px;
  margin: 5px;
  text-align: left;
  word-spacing: -0.1em;
  letter-spacing: -0.03em;
  color: white;
}

/*flex properties*/

.grid {
  display: flex;
  margin: 0 auto;
}

.co-chairs {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 600px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.executives {
  display: flex;
  margin: 0 auto;
}

.lms-exe {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 570px;
  margin-left: 0px;
}

.IT-exe {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 570px;
  margin-right: 0px;
}

.sponsor-exe {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
}

.team-member {
  margin: 8px;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  text-align: center;
}

.team-member:hover {
  box-shadow: 4px 4px 20px 0 rgb(0, 0, 0, 40%), -4px -4px 20px 0 rgba(252, 92, 92, 0.8);
}


/* Images */

.image {
  width: 150px;
  height: 150px;
}

.team-img {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  /* border: solid #8872AB; */
  border-bottom: solid 5px #A45555;
}

.team-img-fun {
  display: none;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  /* border: solid #8872AB; */
  border-bottom: solid 5px  #A45555;
}

.image:hover .team-img-fun {
  display: inline;
  margin: 1px;
}

.image:hover .team-img {
  display: none;
  margin: 1px;
}


/* Name and title */

.team-name {
  color: white;
  font-style: normal;
  text-align: center;
  margin-bottom: 0;
}

.team-title {
  color: white;
  font-style: normal;
  text-align: center;
  margin-top: 4px;
}

.team-member h4 {
  display: block;
  font-size: 16px;
  margin-block-start: 1.33em;
  /* margin-block-end: 1.33em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


/* 'Meet The Team' section end */


/* ********************************************** */


/* **************************************** */